[submodule "include/libft"]
	path = include/libft
	url = git@github.com:Univers42/libft.git
[submodule "libft"]
	path = libft
	url = git@github.com:Univers42/libft
[submodule "src/checker_bonus/visualizer"]
	path = src/checker_bonus/visualizer
	url = git@github.com:Univers42/visualizer_ps.git
